################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/dmitriyVanchinKt-42-21/FileContentIndex/581c575f-29a5-4804-962b-ff1be9bdb5af.vsidx
